
@font-face {
  font-family: IRANSansWeb;
  src: url(./assets/font/Iranian\ Sans.ttf);
}
body {
  margin: 0;
  font-family: 'IRANSansWeb' !important;
}
.MuiStepLabel-label {
  font-family: 'IRANSansWeb' !important;
}
.MuiTypography-root {
  font-family: 'IRANSansWeb' !important;
}
.MuiFormLabel-root{
  font-family: 'IRANSansWeb' !important;
}
.MuiButtonBase-root{
  font-family: 'IRANSansWeb' !important;
}
.MuiInputLabel-root {
  line-height: 1.3 !important;
}
.MuiAutocomplete-root{
  font-family: 'IRANSansWeb' !important;
}
.rtl-wi8ueh-MuiFormLabel-root-MuiInputLabel-root{
  color:black !important;
}
.rtl-15dzvn8-MuiFormLabel-root-MuiInputLabel-root.MuiInputLabel-shrink{
  color:black !important;
}